# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# maven output folders
/target/
/stox/stox-core/target/
/stox/stox-util/target/
/stox/stox-base/target/
/stox/StoX/StoX-gt/target/
/stox/StoX/branding/target/
/stox/StoX/application/target/
/stox/StoX/StoX-main/target/
/stox/StoX/StoX-map/target/